<div class="panel panel-primary">
  <div class="panel-body" [ngClass]="{collapse: collapsed}">
    <form [formGroup]="toolForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div *ngIf="allowEditName()">
          <label for="tool-edit-header-{{id}}">Name:</label>
          <input 
                id="tool-edit-header-{{id}}" 
                type="{{toolType}}" 
                formControlName="name"
                class="form-control input-sm" 
                placeholder="name" 
                size="7">
        </div>
      </div>
      <div class="form-group">
          <label for="fileSelect">Replace with another image:</label>
          <input formControlName="filePickerButton" id="fileSelect" class="form-control-file" type="file" (change)="onFileSelect($event)" name="fileSelect">
          <p *ngIf="fileUploadStatus">{{fileUploadStatus}}</p>
          <p class="fileName">{{rcobjectGetUrl()}}</p>
          <div class="fileUrlElements">
          <label for="'fileUrlField'+{{id}}">File url:</label>
          <input formControlName="fileUrl" class="" id="'fileUrlField'+{{id}}" type="text">
          </div>
          
          <fieldset *ngIf="toolForm.controls['fileUrl'].status === 'VALID'">
            <label for="{{'pxWidthField'+id}}">Width in pixels:</label>
            <input formControlName="widthInPixels" class="f" id="{{'pxWidthField'+id}}" type="number">

            <label for="{{'pxHeightField'+id}}">Height in pixels:</label>
            <input formControlName="heightInPixels" class="" id="{{'pxHeightField'+id}}" type="number">
          </fieldset>

          <label for="'copyright'+id">Copyright:</label>
          <input formControlName="copyright" id="{{'copyrightField'+id}}">

          <label for="'description'+id">Description:</label>
          <input formControlName='description' id="{{'descriptionField'+id}}">
          <!-- <button [disabled]="toolForm.invalid" type="submit" class="btn btn-primary" >Update</button> -->
        </div>
     </form>
  </div>
</div>


	