<!--  /** Creates an RCImage object.  
     * @param {string} name - the name of the tool
     * @param {number} gridX - horizontal position
     * @param {number} gridY - vertical position
     * @param {string} url - the file to be displayed
     * @param {number} pxWidth - the width in pixels
     * @param {number} pxHeight - the height in pixels
     * @param {number} width - number of cells it spans horizontally
     * @param {number} height - number of cells it spans vertically
     * @param {string} userClass - optional user CSS class
     */ -->

<form #imageToolForm="ngForm">
	<div class="form-group">
          <label for="{{id}}+'imageUrlField'">Image url:</label>
     	<input name="url" class="form-control" id="{{id}}+'imageUrlField'" type="text" [(ngModel)]="imageUrl">
     	
          <label for="{{id}}+'pxWidthField'">Width in pixels:</label>
     	<input name="widthInPixels" class="form-control" id="{{id}}+'pxWidthField'" type="number" [(ngModel)]="pxWidth">
     	
          <label for="{{id}}+'pxHeightField'">Height in pixels:</label>
     	<input name="heightInPixels" class="form-control" id="{{id}}+'pxHeightField'" type="number" [(ngModel)]="pxHeight">

          <button type="button" class="btn btn-primary" (click)="updateModel()">Update</button>
     </div>
</form>

