.inline {
	display:inline-block;
}

.form-control {
	display: inline;
}

label {
	display:block;
}

.panel-body {
	padding:5px;
}

.object-detail li {
	display: inline-block;
	clear: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

.object-detail .form-group input {
	margin:5px;
}

.size-control {
	width:60px;
}

