<div class="panel panel-primary">
  <div class="panel-body" [ngClass]="{collapse: collapsed}">
    <form [formGroup]="toolForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div *ngIf="allowEditName()">
        <label for="tool-edit-header-{{id}}">Name:</label>
        <input 
              id="tool-edit-header-{{id}}" 
              type="{{toolType}}" 
              formControlName="name"
              class="form-control input-sm" 
              placeholder="name" 
              size="7">
      </div>
    </div>
    <div class="form-group">
        <label for="imageFileSelect">Pick an image:</label>
        <input formControlName="imagePickerButton" id="imageFileSelect" class="form-control-file" type="file" (change)="onImageSelect($event)" name="imageSelect">
        <p *ngIf="fileUploadStatus">{{fileUploadStatus}}</p>
        <label>filename:</label>
        <p class="fileName">{{rcobjectGetUrl()}}</p>
        <div class="imageUrlElements">
        <label for="'imageUrlField'+{{id}}">Image url:</label>
        <input formControlName="imageUrl" class="" id="'imageUrlField'+{{id}}" type="text">
        </div>
        
        <fieldset *ngIf="toolForm.controls['imageUrl'].status === 'VALID'">
          <label for="{{'pxWidthField'+id}}">Width in pixels:</label>
          <input formControlName="widthInPixels" class="f" id="{{'pxWidthField'+id}}" type="number">

          <label for="{{'pxHeightField'+id}}">Height in pixels:</label>
          <input formControlName="heightInPixels" class="" id="{{'pxHeightField'+id}}" type="number">
        </fieldset>
        <!-- <button [disabled]="toolForm.invalid" type="submit" class="btn btn-primary" >Update</button> -->
      </div>
     </form>
  </div>
</div>


	