.inline {
	display:inline-block;
}

.form-control {
	display: inline;
}

label {
	display:block;
}

.panel-body {
	padding:5px;
}

.object-detail li {
	display: inline-block;
	clear: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

.object-detail .form-group input {
	margin:5px;
}

.size-control {
	width:60px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.imageUrlElements {
	display:none;
}

.fileName {
	font-size:12px;
	color:#888;
}

