.inline {
	display:inline-block;
}

.float-right {
	float:right;
	display:inline;
}

.input-sm {
	height:20px;
}

.form-control {
	width: 200px;
	display: inline;
}

.panel-body {
	padding:5px;
}

.object-detail li {
	display: inline-block;
	clear: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

.object-detail .form-group input {
	margin:5px;
}

