<div class="panel panel-primary">
<div class="panel-heading">
    <span (click)="collapsed = !collapsed" 
    class="glyphicon"
    [ngClass]="collapsed ? 'glyphicon-chevron-down' :'glyphicon-chevron-up'"
    title="{{collapsed ? 'expand' : 'collapse' }}"></span>

    <label for="tool-edit-header-{{identifier}}">Name:</label>
    <input id="tool-edit-header-{{identifier}}" type="{{toolType}}" [(ngModel)]="name" (keyup)="onNameChange($event)" class="form-control input-sm" placeholder="name" size="10">

    <span>(id={{identifier}}) {{name}}</span>
    
    <div class="float-right">
     
    <button (click)="onTrash()" class="btn btn-danger btn-xs">x</button>
    </div>
</div>

<div [ngSwitch]="toolType" class="panel-body" [ngClass]="{collapse: collapsed}">
  <app-text-tool [identifier]="identifier" *ngSwitchCase="'RCText'"></app-text-tool>
  <app-image-tool [identifier]="identifier" *ngSwitchCase="'RCImage'"></app-image-tool>
  <p *ngSwitchDefault>"{{toolType}}", doesn't exist.</p>
</div>

</div>


	