<h3 class="title-3">Media</h3>

<!-- <p [innerText]="rcExpoModel.exposition.media.length >= 2 ? 'Tip: drag to sort the tools' : ''"></p> -->
<!-- <ul [sortablejs]="rcExpoModel.exposition.media" 
     [sortablejsOptions]="eventOptions"> -->

<div class="container-fluid">
    
    <div class="row" >
	<div class="rc-object-list">
	    
	    <app-drag-and-drop 
		class="drag-and-drop-box" 
		       [isBigger]="true"
		       (onChangedObject)="onChangedObject($event)">
	    </app-drag-and-drop>
	   
	    <div *ngIf="mediaHasObjects()">

	    </div>
	    <div class="press-escape-msg">
	    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Double click an image to insert. press ESC to close.
	    </div>
	    <table width="100%" style="margin: 0px;" class="object-table">
		<thead>
		    <tr>
			<th class="th-col-preview"><span class="object-list-preview">Preview</span></th>
			<!-- 						<th><span class="object-list-id">ID</span></th>
			-->
			<th class="th-col-name"><span class="object-list-name">Name</span></th>
			<th class="th-col-action"><span class="object-list-name">Action</span></th>
			<th class="th-col-action-2">&nbsp;</th>
		    </tr>
		</thead>
		<tbody *ngFor="let rcObject of rcExpoModel.exposition.media" 
				[class.selected]="isObjectSelected(rcObject)"
			(click)="onSelect(rcObject)"
			(dblclick)="onDoubleClick(rcObject)">
			<tr>
			<td>
			    <div [ngSwitch]="rcObject.__className">
				<div *ngSwitchCase="'RCImage'">
					<img  
					     class="image-preview" 
					     src={{rcObject.thumb}} 
					     height="66" 
					     width="66" 
					     alt={{rcObject.thumb}}>
				 </div>
				
				<div *ngSwitchCase="'RCAudio'">
				    <p class="playSymbol">▶</p>
				    <audio>
					<source src={{rcObject.url}}>
					Browser does not support audio.
				    </audio>
				</div>

				<div *ngSwitchCase="'RCVideo'">
				    <p class="image-preview">▶</p>
				    <video class="video-preview">
					<source src={{rcObject.thumb}}
 						    height="66" 
						    width="66">
					Browser does not support audio.
				    </video>
				</div>

				<div *ngSwitchCase="'RCPdf'">
				    <p class="image-preview">▶</p>
				    <video class="pdf-preview">
					<source src={{rcObject.thumb}}
 						    height="66" 
						    width="66">
					Browser does not support audio.
				    </video>
				</div>
			    </div>

			</td>
			<td>
				<span class="object-list-name">{{rcObject.name}}</span>
				<span>{{getTranscodingStatus(rcObject)}}</span>
			</td>


			<td><button [disabled]="busy" class="align-right btn btn-danger btn-sm" (click)="trashObject(rcObject)">&times;</button></td>
			<td><button class="align-right btn btn-primary btn-sm" (click)="onDoubleClick(rcObject)">insert</button></td>
			</tr>
			<tr *ngIf="isObjectSelected(rcObject)">
			<td colspan="5">
				<div>	
	    			<div >
						<div [ngSwitch]="selectedObject.__className">
						    <app-image-tool *ngSwitchCase="'RCImage'"
								    [id]="'editor'+selectedObject.id" 
										   [rcobject]="selectedObject"
										   (onRemoveObject)="objectWasRemoved($event)"
										   (onChangedObject)="onChangedObject($event)"
						    >		
						    </app-image-tool>
						    <app-audio-tool *ngSwitchCase="'RCAudio'"
								    [id]="'editor'+selectedObject.id" 
										   [rcobject]="selectedObject"
										   (onRemoveObject)="objectWasRemoved($event)"
										   (onChangedObject)="onChangedObject($event)"
						    >		
						    </app-audio-tool>
						    <app-video-tool *ngSwitchCase="'RCVideo'"
								    [id]="'editor'+selectedObject.id" 
										   [rcobject]="selectedObject"
										   (onRemoveObject)="objectWasRemoved($event)"
										   (onChangedObject)="onChangedObject($event)"
						    >		
						    </app-video-tool>
						    <app-pdf-tool *ngSwitchCase="'RCPdf'"
								    [id]="'editor'+selectedObject.id" 
										   [rcobject]="selectedObject"
										   (onRemoveObject)="objectWasRemoved($event)"
										   (onChangedObject)="onChangedObject($event)"
						    >		
		    				</app-pdf-tool>
						</div>
	    			</div>
				</div>
			</td>
		 </tr>
		</tbody>


	    </table>
	</div>
	


    </div>
    <div class="row">
	<!-- <button (click)="createImageTool()" class="btn btn-primary">Add image</button>
	     <button (click)="createAudioTool()" class="btn btn-primary">Add audio</button> -->
	<!-- <button (click)="removeAll()" class="btn btn-danger">Remove all</button> -->
    </div>
</div>

