.align-right {
	text-align:right;
}

.panel-body {
	padding:0;
}

ul {
	list-style:none;
	padding-left:0;
}

li {
	padding-top:;
	padding-bottom:;
}

.selected {
	background: #ddd;
}

.imageUrl {
	width:75px;
	overflow:hidden;
}

.fields {
	border-bottom: 1px solid #555;
}

.object-list-preview {
	width:80px;
	display:inline-block;
}

.object-list-id {
	width:30px;
	display:inline-block;
}

.object-list-imageUrl {
	width:250px;
	display:inline-block;
}

.object-list-width {
	width:50px;
	display:inline-block;

}

.heigth {
	width:50px;
	display:inline-block;
}