<h3> Current objects </h3>

<p [innerText]="rcExpoModel.exposition.media.length >= 2 ? 'Tip: drag to sort the tools' : ''"></p>

<ul [sortablejs]="rcExpoModel.exposition.media" 
[sortablejsOptions]="eventOptions">

	<li *ngFor="let rcObject of rcExpoModel.exposition.media">	
		<app-basic-tool [id]="'editor'+rcObject.id" 
		[identifier]="rcObject.id" 
		[toolType]="toolType(rcObject)">		
		</app-basic-tool>
	</li>

</ul>

<button (click)="createImageTool()" class="btn btn-primary">Create image tool</button>

<button (click)="removeAll()" class="btn btn-danger">Remove all</button>
