.video-preview {
    width:75px;
}

.rc-object-list {
	height:700px;
	overflow-y:scroll;
}

.dropzone-inner[_ngcontent-c1] {
	width:300px;
	margin:7px;
	overflow:hidden;
}


.image-preview {
	object-fit: cover;
}

.align-right {
	text-align:right;
}

.panel-body {
	padding:0;
}

ul {
	list-style:none;
	padding-left:0;
}

li {
	padding-top:;
	padding-bottom:;
}

.selected {
	background: #ccc;
}

.imageUrl {
	width:75px;
	overflow:hidden;
}

.fields {
	border-bottom: 1px solid #555;
}

.object-list-preview {
	width:80px;
	display:inline-block;
}

.object-list-id {
	width:30px;
	display:inline-block;
	text-align:center;
}

.object-list-imageUrl {
	width:250px;
	display:inline-block;
}

.object-list-width {
	width:50px;
	display:inline-block;

}

.rc-object-list thead {
	background-color:#555;
	color:white;
}

.title-3 {
	margin-left:15px;
}

.playSymbol {
	margin-top:5px;
	margin-left:30px;
	margin-right:30px;
}

@media only screen and (max-width: 800px) {
	.rc-object-list {
		height:calc(100vh - 122px);
	}
}


/* table sytling */

tr:nth-child(even) {
    background-color: #f4f4f4
}

th, td {
    text-align: left;
    padding: 16px;
}
