<h3> Media </h3>

<!-- <p [innerText]="rcExpoModel.exposition.media.length >= 2 ? 'Tip: drag to sort the tools' : ''"></p> -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-9">
			<div class="fields">
					<strong class="object-list-id">ID</strong>&nbsp;
					<span class="object-list-name">Name</span>&nbsp;
			</div>
			<ul [sortablejs]="rcExpoModel.exposition.media" 
			[sortablejsOptions]="eventOptions">

				<li *ngFor="let rcObject of rcExpoModel.exposition.media" 
				[class.selected]="selectedObject === rcObject"
				    (click)="onSelect(rcObject.id,rcObject)">	
					<strong class="object-list-id">{{rcObject.id}}</strong>&nbsp;
					<span class="object-list-name">{{rcObject.name}}</span>&nbsp;
					<img src={{rcObject.url}} width="80" alt={{rcObject.url}}>
				</li>

			</ul>
		</div>
		<div class="col-md-3">	
			<app-basic-tool 
				*ngIf="selectedObject != undefined"
			    [id]="'editor'+selectedObject.id" 
				[object]="selectedObject">		
			</app-basic-tool>
			
		</div>
	</div>
	<div class="row">
		<button (click)="createImageTool()" class="btn btn-primary">Create image tool</button>
		<button (click)="removeAll()" class="btn btn-danger">Remove all</button>
	</div>
</div>

