.rcobject {
    /* border: 1px solid #ccc;  */
    /* border-radius: 5px; */
    padding: 10px;
}

.rcobject.rctext {
    border: 1px solid #ccc;
    /* border-radius: 5px; */
}


.rcobject.rctext.myclass {
    background-color: blue;
}
