<div [ngClass]='{ "dropzone-inner" : true , "dropzone-bigger" : isBigger }'  appDragDrop (filesChangeEmitter)="onFilesChange($event)">
  <div class="text-wrapper">
    <div *ngIf="fileUploadStatus === null" class="centered" (click)="onClick()">Click here to add media (or drop a file)
    </div>
    <div *ngIf="fileUploadStatus !== null" class="centered" (click)="onClick()">{{fileUploadStatus}}</div>
	<input type="file" id="dropzone-manual-input" (change)="onFileSelected($event)">
  </div>
</div>