<div [ngClass]='{ "dropzone-inner" : true , "dropzone-bigger" : isBigger }'  appDragDrop (filesChangeEmitter)="onFilesChange($event)" (click)="onClick()">
    <div class="text-wrapper">
	<!-- <div *ngIf="fileUploadStatus === null || fileUploadStatus === ''" class="centered">Click or drop to add media</div> -->
	<div *ngIf="fileUploadStatus === null || fileUploadStatus === ''" >Click or drop to {{isMediaInserted ? "insert" : "add"}} media</div>
    <div *ngIf="fileUploadStatus !== null">{{fileUploadStatus}}</div>
	<input type="file" id="dropzone-manual-input" (change)="onFileSelected($event)">
  </div>
</div>
