/*.mnh-main {
	height:700px;
}*/

.container.main-app {
    width:97%;
    height:100%;
}

.left-hand-collumn {
    position: fixed;
    left:0;
    top:0;
    width:440px;
    height:100%;
    z-index:1050;
    background-color:white;
}

.shifted  {
    position:relative;
    left:440px;
}

#myMedia {
    min-width:600px;
}

.modal-dialog {
	z-index: 1050;
}

.objectList {
	position:fixed;
	z-index:1050;
	right:0px;
}

.importPanel {
    z-index: 1050;
}


/* The Modal (background) */
.modal {
    display: block;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    width: 100%;  /*Could be more or less, depending on screen size */
    height: 100%;
    border-radius: 0;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    padding-right: 3px;
    font-size: 28px;
    font-weight: bold;
    z-index:1051;
    position:relative;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-media-content {
    /*margin:10% auto;*/
}

.import-content {
    margin: 5vw 5vh;
    position:fixed;
    top:0;
    left:0;
    width:90%;
    height: 25vh;
}

@media only screen and (max-width: 995px) {
    .import-content {
        height:380px;
        border-radius:6px;
    }


}


input.editableTitle:focus, input.editableTitle {
    font-size: 18px;
    outline:none;
    background-color: transparent;
    border: 1px dashed #dedede;
    margin-top:20px;
    margin-bottom:10px;
    font-size:24px;
}

hr {
    margin:0 5px;
}


.dropZone {
    display:inline-block;
    min-width: unset;
    min-height: unset;
    width:300px;
    margin:0 0;
}

.hideMarkDownEditor {
    /* check if this is used */
    display:none;
}

.style-edit-screen {
    width:50%;
}

.edit-style-button.active {
    background-color:white;
    color:#333;
}

.edit-style-button {
    width:90px;
}

@media only screen and (max-width: 800px) {
    .style-modal-window {
        max-width: 100vw;
        max-height: 100vh;
    }

    .hideBecauseModalIsVisible {
        display:none;
    }

    .main-app {
        height: 100vw;
        overflow: hidden;
    }
    /* responsive media box */
    .modal-content {
        position: fixed;
        top:0px;
        left:0px;
        background-color: #fefefe;
        padding: 20px;
        width: 100%; 
        height: 100%;
        margin:0;
        border-radius:0;
    }
}





