<div class="container">
	<div class="row">
	<h3>MHN Exposition Editor</h3>
	<hr>
	<app-doc-uploader></app-doc-uploader>
	<button type="button" [disabled]="showMedia" class="btn btn-primary" (click)="showMedia = true">Open media list</button>
	<app-markdown-tool></app-markdown-tool>
	</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal" [ngStyle]="{ display: showMedia ? 'block' : 'none' }">

  <!-- Modal content -->
  <div class="modal-content">
    <button class="close" (click)="showMedia=false">&times;</button>
   	<app-object-list></app-object-list>
  </div>
</div>

