<div class="container">
	<h1> MHN Exposition Editor </h1>
	<hr>
	<div class="">
	    <div class="">
	      <ul class="nav nav-tabs">
	        <li routerLinkActive='active'
				[routerLinkActiveOptions]="{exact: true}"
	        	role="presentation" class="active">
	        	<a routerLink='/' >
				Home
				</a>
	        </li>
	        <li role="presentation" routerLinkActive='active'>
	        	<a routerLink='objectList'>
	        	Media Object List
	        	</a>
	    	</li>
	      </ul>
	    </div>
  	</div>
	<div class="">
		<div class="">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>


