<div class="panel panel-primary">
<div class="panel-heading">
    <span (click)="collapsed = !collapsed" 
    class="glyphicon"
    [ngClass]="collapsed ? 'glyphicon-chevron-down' :'glyphicon-chevron-up'"
    title="{{collapsed ? 'expand' : 'collapse' }}"></span>

    <span>(id={{identifier}}) {{name}}</span>
    
    <div class="float-right">
     <input type="text" [(ngModel)]="name" (keyup)="onNameChange($event)" class="form-control input-sm" placeholder="name" size="10">
    <button (click)="onTrash()" class="btn btn-danger btn-xs">x</button>
    </div>
</div>
<div class="panel-body" [ngClass]="{collapse: collapsed}">
	<angular-tinymce 
    [(ngModel)]="textContent"
    [settings]="customTinyMCESettings"
    (change)="onChange()"
    (keyup)="onKeyUp()"
    cols="43" 
    rows="40">
	</angular-tinymce>
   </div>
</div>


	