<div class="panel doc-panel">
	<div class="row">
		<div class="col-md-4">
			<h5>Import external format</h5>
			<label for="docFileInput">{{formattedTypes()}}</label>
			<input id="docFileInput" class="form-control-file" type="file" (change)="onFileSelected($event)" name="file">
			<button class="btn btn-xs"type="submit" (click)="onDocUpload()">Upload</button>
			<span *ngIf="fileUploadStatus">{{fileUploadStatus}}</span>
		</div>
		<div class="col-md-4">
			<h5>Import/export to disc</h5>
			<label for="jsonFileSelect">Select saved exposition (.json):</label>
			<input id="jsonFileSelect" class="form-control-file" type="file" (change)="onJsonSelected($event)" name="jsonImport">
			<button class="btn btn-xs" (click)="onJsonImport()">Import in RC format (.json)</button>
			<br><br>
			<button class="btn btn-xs" (click)="jsonDownload()">Export in RC format (.json)</button>
		</div>
		<div class="col-md-3">
			<h5>Export to other formats</h5>
			<label for="exportType">Type:</label>
			<select (change)="onDocTypeChange($event.target.value)" id="exportType" name="exportTypeSelect">
			    <!-- <option selected="selected" value="pdf">PDF</option> -->
			    <option selected="selected" value="docx">Word (.docx)</option>
			    <option value="odt">Open office (.odt)</option>
			    <option value="pdf">PDF (.pdf)</option>
			    <option value="html">HTML (.html)</option>
			    <option value="md">Markdown (.md)</option>
			    <option value="epub">EPUB (.epub)</option>
			</select> 
			<button class="btn btn-xs" (click)="otherFormatDownload()">Export {{selectedExportFormat}}</button>

		</div>
	</div>
</div>
