<div class="panel">
	<div class="row">
		<div class="col-sm-4">
			<h5>Import document</h5>
			<label for="docFileInput"><b>.docx</b> or <b>.odt:</b></label>
			<input id="docFileInput" class="form-control-file" type="file" (change)="onFileSelected($event)" name="file">
			<button class="btn btn-xs"type="submit" (click)="onUpload()">Upload</button>
		</div>
		<div class="col-sm-4">
			<h5>Import/Export</h5>
			<label for="jsonFileSelect">Select saved exposition (.json):</label>
			<input id="jsonFileSelect" class="form-control-file" type="file" (change)="onJsonSelected($event)" name="jsonImport">
			<button class="btn btn-xs" (click)="onJsonImport()">Import RC format</button>

			<br><br>
			<button class="btn btn-xs" (click)="jsonDownload()">Export RC format</button>
		</div>
	</div>
</div>
