.word-import-column {
	overflow-x: hidden;
}

.inline-block {
	display: inline-block;
}

.inline-block input {
	display: inline-block;

}

.inline-block button {
	display: inline-block;
}

.coll-md-4 {
	overflow: hide;
}