/*@import "https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css"*/
@import "./assets/simplemde/simplemde.css";

.btn {
	margin-top:5px;
	margin-bottom:5px;
}

app-markdown-tool .CodeMirror { 
	width: calc(50% - 18px); 
	height: calc(100% - 220px); 
	overflow-y: hidden; 
	position:absolute; 
	/* border-right: none  */
}

app-markdown-tool .editor-toolbar { width:80.0%; }

app-markdown-tool .editor-statusbar { position: absolute; bottom: 0; z-index:1000;}

app-markdown-tool .editor-preview-side {
	width:50%; 
}

.cm-formatting {
	color:rgba(0,0,80,.28);
}
