/*@import "https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css"*/
@import "./assets/simplemde/simplemde.css";

.btn {
	margin-top:5px;
	margin-bottom:5px;
}

app-markdown-tool .CodeMirror { width:50.0%; height: 600px; overflow-y: hidden; position:absolute; }

app-markdown-tool .editor-toolbar { width:80.0%; }

